@font-face {
  font-family: 'grammatika';
  src: url('../fonts/fonts/ASGrammatika.eot');
  src: url('../fonts/fonts/ASGrammatika.eot?#iefix') format('embedded-opentype'),
  url('../fonts/fonts/ASGrammatika.woff2') format('woff2'),
  url('../fonts/fonts/ASGrammatikawoff') format('woff'),
  url('../fonts/fonts/ASGrammatika.ttf') format('truetype'),
  url('../fonts/fonts/ASGrammatika.svg#ASGrammatikaGeoMtavruli1') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'excelsior';
  src: url('../fonts/fonts/excelsior.eot');
  src: url('../fonts/fonts/excelsior.eot?#iefix') format('embedded-opentype'),
  url('../fonts/fonts/excelsior.woff2') format('woff2'),
  url('../fonts/fonts/excelsior.woff') format('woff'),
  url('../fonts/fonts/excelsior.ttf') format('truetype'),
  url('../fonts/fonts/excelsior.svg#BPGExcelsior') format('svg');
  font-weight: normal;
  font-style: normal;
}


$primary-font: 'excelsior';
$caps-font: 'grammatika';
$bold-font: 'grammatika';